.index_body {
    background-color: black;
    padding-top: 50px;
}

.mainbar {
    font-size: 23px;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}

.centered h3 {
    color: white;
    text-shadow: 2px 3px rebeccapurple;
    margin-top: -36px;
}


.wrapper {
    position: relative;
}

.harmguidebutton {
    margin-bottom: auto;
}

.footertext {
    margin-top: 5em;
    text-align: center;
    font-size: x-large;
    color: white;
}

.purpleshadowtext {
    color: white;
    text-shadow: 2px 3px rebeccapurple;
}

.aboutsection {
    margin-top: -3em;
}

#navbarbg {
    background-color: rgba(0, 0, 0, 0.5);
}